body{
	padding:0;
	margin:0;
	box-sizing:border-box;
	font-family:sans-serif;
}

div.navbar{
	width:99%;
	max-width:100%;
	height:40px;
	background-color:#121212;
	color:#fff;
	padding:7px;
}

div.navbar ul{
	list-style-type:none;
	padding:0;
	margin:0;
	overflow:hidden;
}

div.navbar ul li{
	display:inline-block;
}

div.navbar ul.left-nav{
	float:left;
}

div.navbar ul.left-nav li a{
	padding:6px 10px;
	text-decoration:none;
	padding:30px 10px;
	font-size:26px;
	color:#fff;
}

div.navbar ul.right-nav{
	float:right;
	margin:9px;
}

div.navbar ul.right-nav li a{
	padding:6px 10px;
	text-decoration:none;
	padding:30px 10px;
	color:#fff;
	font-size:17px;
	transition:all 0.7s;
}

div.navbar ul.right-nav li a:hover{
	color:#bbb;
}


div.main-content{
	background-color:#333;
	width:1200px;
	margin:40px auto;
	overflow:auto;
	color:#fff;
	border-radius:3px;
	height:auto;
	padding-bottom:7px;
}

div.main-content .col1{
	width:50%;
	float:left;
	border-radius:3px;
}

div.main-content .col1 .translate-btn{
	margin:4px;
	padding:9px 16px;
	border:none;
	border-radius:2px;
	background-color:#4CAF50;
	color:#fff;
	cursor:pointer;
}

div.main-content .col1 > .heading, .col2 > .heading{
	padding:9px;
}

div.main-content .col2{
	width:50%;
	float:left;
	border-left:2% solid #f2f2f2;
	height:400px;
}

div.main-content .code-display{
	width:99%;
	height:400px;
	background:#fff;
	margin:1% auto;
}

div.main-content .code-display textarea{
	width:99%;
	height:98.7%;
	resize:none;
	font-family:sans-serif;
	border:none;
	outline:none;
}

div.main-content .col2 .download-btn{
	margin:4px;
	padding:9px 16px;
	border:none;
	border-radius:2px;
	background-color:orange;
	color:#fff;
	cursor:pointer;
}

div.main-content .col2 .copy-btn{
	margin:4px;
	padding:9px 16px;
	border:none;
	border-radius:2px;
	background-color:#3498db;
	color:#fff;
	cursor:pointer;
}

div.modal{
	background:rgba(0,0,0,0.95);
	width:100vw;
	height:100vh;
	position:fixed;
	top:0;
	left:0;
	z-index:10;
	display:none;
}

div.modal-confirm{
	width:500px;
	height:auto;
	position:fixed;
	top:50%;
	left:50%;
	border-radius:6px;
	transform:translate(-50%,-90%);
	background-color:#fff;
	box-shadow:0px 8px 16px 0px rgba(255,255,255,0.3);
}

div.modal-confirm .heading{
	border-bottom:2px solid #f2f2f2;
	padding:10px;
	margin-bottom:5px;
	font-weight:bold;
}

div.modal-confirm .heading span.close{
	float:right;
	margin-right:5px;
	font-size:20px;
	padding:0px 7px;
	cursor:pointer;
	transition:all 0.7s;
}

div.modal-confirm .heading span.close:hover{
	color:red;
}

div.modal-confirm label{
	padding:9px;
}

div.modal-confirm input[type=text]{
	padding:9px 16px;
	margin:4px 9px;
	outline:none;
	border:none;
	background:#f2f2f2;
	border-bottom:2px solid #666;
	font-size:15px;
}

div.modal-confirm button{
	padding:6px 9px;
	background:green;
	color:#fff;
	border:none;
	margin:9px;
	outline:none;
	cursor:pointer;
}